/* CSS Document */

@import url('responsive.css');
* { margin:0; padding:0;}
body { margin:0; padding:0; width:100%; margin:auto; background-color:#f9f9f9; overflow-y:scroll; overflow-x:hidden; font-family: 'Lato',Calibri,Arial,sans-serif; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-button { width: 8px; height:5px; }
::-webkit-scrollbar-track { 	background:#eee; border: thin solid lightgray; box-shadow: 0px 0px 3px #dfdfdf inset; border-radius:10px; }
::-webkit-scrollbar-thumb { 	background:#999; border: thin solid gray; border-radius:10px; }
::-webkit-scrollbar-thumb:hover { background:#7d7d7d;}			

a {  text-decoration: none; }

img { border:none;}

#loginBox
{
	width:500px;
	height:280px;
	margin:auto;
	margin-top:150px;
	background-color:#FFFFFF;
	border-radius:15px;
}
#loginBox h2
{
	padding:15px 0 0 30px;
	color:#333333;
}
#loginBox .lock
{
	padding:20px 0 0 10px;
	float:left;
	width:140px;
	height:auto;
}
#loginBox .form
{
	padding:20px 0 0 10px;
	float:left;
	width:300px;
	height:200px;
	color:#333333;
}

#AdminHeader
{
	width:100%;
	height:auto;
	background-color:#ED3237;
	z-index: 3;
	top:0px;
}

#AdminHeader .logo
{
	width:25%;
	height:70px;
	float:left;
}

.logo img{
  margin: 4px 10px;
}

#AdminHeader .searcharea {
    float: left;
    height: auto;
    margin: 8px 10px auto 0;
    width: 700px;
	display:none;
 }

 .main-width {
 width:1350px; margin:0px auto;
 }
.input
{
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #eee inset;
	padding: 3px 0 3px 5px;
	height: auto;
	font-size: 16px;
	outline: none;
	margin-top: 0px;
}
.top-input-search
{
	border: 1px solid #F69A39;
	background-color: #F69A39;
	background-image: url(images/search-iocn.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 70px;
	padding: 6px 0 6px 5px;
	float: left;
	height:auto;
	font-size: 16px;
	cursor: pointer;
	margin-top: 5px;
}

#AdminHeader .logout
{
	width:200px;
	height:20px;
	margin:20px 20px 0 0;
	float:right;
	text-align:right;
	color:#FFFFFF;
}
#AdminHeader .logout a
{
	color:#FFFFFF;
	padding:5px 5px;
	text-decoration:none;
	float: right;
}
#AdminHeader .logout img
{
	color:#FFFFFF;
	float: right;
	padding:0px 5px;
	text-decoration:none;
}
#AdminHeader .logout a:hover
{
	color:#FFFFFF;
	padding:5px 5px;
	text-decoration:underline;
}


#adminmain{
	width:100%;
	height:auto;
	background-color:#F4F4F4;
}

#adminmain .left{
	position:relative; 
	width:100%;
	height:auto;
}


#content{
	position:relative;
	right:0%;
	float:right; 
	width:100%;
	background-color:#F9F9F9;
	min-height:600px;
	border-top: solid 1px #CCC;
}

#content .page-heading { 
	background-color:#FFFFFF;
	border-bottom: solid 1px #e1e1e1;
	width:100%;
	padding:  10px 0px 10px 40px;
}

#content h2 { 
	
	font-weight:300;
	color:#666666;
	width:1350px;
	padding:  10px 0px 10px 40px;
	margin:0px auto;
	font-size:18px;
	
}

#content h2 p { 
	float:right !important;
	padding:0px;
	margin:0px;
	width:300px;
	margin-right:9%;
	text-align:right
}

#content h2 p a {
	color:#666666;
	text-decoration:none;
}

#content h2 p a:hover {
	color:#000000;
}


.dashbox-main-div{
	width:1300px;
	background-color:#F9F9F9;
	min-height:500px;
	margin:0 auto;
}


.dashbox-main-div h2 { 
	background-color:#FFFFFF;
	font-weight:300;
	color:#666666;
	width:100% !important;
	padding: 15px 0px 10px 0px !important;
	margin:0px 0px 10px 0px !important;
	line-height:25px !important;
	font-size:18px;
	margin-bottom: 10px;
	border-bottom: solid 1px #e1e1e1;
}

.dashbox-main-div h2 span{ 
	padding-left: 20px;
	float: left;
	text-transform: capitalize;
}


/* ---------------------- Left Menu Css Start Here ---------------------- */
.menu_list {	
	width: 1150px;
	margin:0px auto;
}

.menu_list ul {
	margin: 0;
	padding: 0;
}

.menu_list ul li{
	background-color:#F9F9F9;
	color:#666666;
	padding: 12px 15px 8px 15px;
	margin:0px;
	font-size:14px;
	float:left;
	list-style:none;
	line-height:24px;
	height:28px;
}

.menu_list ul li:hover{
	background-color:#FFFFFF;
	margin:0px;
}

.menu_list ul li.currentnav{
	background-color:#FFFFFF;
	margin:0px;
	color:#ED3237;
	font-weight:bold;
	background-image:url(../images/menu-arrow.png);
	background-position:top -5px center;
	background-repeat:no-repeat;
}

.menu_list .count{
	margin-right:5px;
	margin-left:10px;
	margin-top:0px;
	background-color:#000;
	padding:1px 2px 1px 2px;
	color:#FFF;
	line-height:20px;
	width:20px;
	text-align:center;
	height:auto;
	-moz-border-radius: 8px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
}

.menu_list ul li a{
	color:#666666;
}

.menu_list ul li:hover > a{
	color:#FFF;
}

#adminmain .textpart{
	width:730px;
	height:auto;
	min-height:400px;
	float:right;
	text-align:center;
	padding:0 10px 0 5px;
	margin-top:20px;
	background-color: #000;
}
#adminmain .textpart .a{
	background-color:#FF9900;
	padding:5px 20px;
	color:#333333;
	text-decoration:none;
	float:left;
	margin:0 5px;
}
#adminmain  .textpart  .active{
	background-color:#CCCCCC;
	padding:5px 20px;
	color:#333333;
	text-decoration:none;
	float:left;
	margin:0 5px;
}
#adminmain .textpart .a:hover{
	background-color:#CCCCCC;
	padding:5px 20px;
	color:#333333;
	text-decoration:none;
}

.dashbox {
	width:220px;
	float:left;
	height:130px;
	font-size:15px;
	color:#FFFFFF; 
	background-color:#33495c;
	margin-left:12px;
	margin-bottom:30px;
	position:relative;
}

.dashbox .del{
	position:absolute;
	right:10px;
	top:10px;
	opacity:0;
}

.dashbox:hover .del{
	opacity:1;
}

.dashbox p { 
	width: 70%;
	margin:0px;
	font-size:2.3em;
	padding: 15px 0px 5px 10px;
} 


.dashbox p span { 
	width:100%;
	font-size:16px;
}

.dashbox .setting-icon {
	position:absolute; 
	bottom:35px; 
	right:10px;
}

.dashbox .edit{
	width:100%;
	float:left;
	padding:5px 0px 5px 0px;
	font-size:14px;
	margin:25px 0 0;
	text-align:center;
	background-image:url(../images/opicty.png);
	background-repeat:repeat;
	text-decoration:none;
	color:#FFFFFF;
	position: absolute;
	bottom: 0;
}

.dashbox .edit:hover { text-decoration:underline;}

.bg-green { 
background-color:#00a663;
}

.bg-orange {
background-color:#f69a39;
}


.bg-light-red {
background-color:#fa6759;
}


.bg-light-blue {
background-color:#52aede;
}

.bg-light-yellow {
background-color:#ffca45;
}

.bg-light-black {
background-color:#303030;
}


.bg-light-green {
background-color:#47D600;
}


.bg-purple {
background-color:#563b7d;
}


.bg-last-green {
background-color:#00b89c;
}

.welcomeadmin {
	background-color:#F4F4F4;
	font-weight:300;
	color:#666666;
	width:99%;
	padding: 10px 0px 10px 0px;
	margin:0px;
	font-size:18px;
	border-bottom: solid 1px #e1e1e1;
	cursor: default;
}

.col-50{
	width:45%;
	margin: 2% 2.5%;
	padding:1% 0%;
}

.col-100{
	width:90%;
	margin: 2% 2.5%;
	padding:0% 1% 0% 1%;
	-webkit-box-shadow: -1px 2px 2px 2px rgba(0,0,0,0.23);
	-moz-box-shadow: -1px 2px 2px 2px rgba(0,0,0,0.23);
	box-shadow: -1px 2px 2px 2px rgba(0,0,0,0.23);
	min-height:500px;
}

.col-100 h2{
	background-color: #FFFFFF;
	font-weight: 300;
	color: #666666;
	text-transform: capitalize;
	width: 100%;
	padding: 10px 0px 5px 0px;
	margin: 0px 0 5px 0 ;
	font-size: 18px;
	border-bottom: solid 1px #e1e1e1;
}

.col-100 table{
	margin: 10px;
	border-collapse:collapse;
}

.col-100 table td{
	padding:10px;
	border:solid 1px #CCCCCC;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

.cboth {
	clear:both;
}

.bg_color_white{
	background-color: #FFF;
}

.border_top_gray{
	border-top: solid 3px #999999;
}

.border_radius_5{
	border-radius:5px;
}

.red_button{
	padding: 5px 10px;
	background-color: #FA6759;
	color: #FFFFFF;
	border: none;
	border-radius:5px;
	border-bottom: solid 2px #F33E2C; 
	font-size: 14px;
	margin: 0 5px;
	text-transform: capitalize;
}
.red_button:hover{
	padding: 5px 10px;
	background-color: #F33E2C;
	color: #FFFFFF;
	border-radius:5px;
	border-bottom: solid 2px #FA6759; 
	font-size: 14px;
	cursor: pointer;
}

.blue_button{
	padding: 5px 10px;
	background-color: #00C1EB;
	color: #FFFFFF;
	border: none;
	border-radius:5px;
	border-bottom: solid 2px #00ABDA; 
	font-size: 14px;
	margin: 0 5px;
	text-transform: capitalize;
}
.blue_button:hover{
	padding: 5px 10px;
	background-color: #00ABDA;
	color: #FFFFFF;
	border-radius:5px;
	border-bottom: solid 2px #00C1EB; 
	font-size: 14px;
	cursor: pointer;
}

.green_button{
	padding: 5px 10px;
	background-color: #00A663;
	color: #FFFFFF;
	border: none;
	border-radius:5px;
	border-bottom: solid 2px #008A48; 
	font-size: 14px;
	margin: 0 5px;
	text-transform: capitalize;
}
.green_button:hover{
	padding: 5px 10px;
	background-color: #008A48;
	color: #FFFFFF;
	border-radius:5px;
	border-bottom: solid 2px #00A663; 
	font-size: 14px;
	cursor: pointer;
	
}

.fleft {
	float:left;
}

.fright {
	float:right;
}

.page
{
	text-align: center;
	margin:0px auto 15px auto;
	padding: 0;
}
.page li
{
	list-style: none;
	display:inline-block;
	margin: 2px 5px;
}
.page li a
{
	display: block;
	padding:3px 5px;
	text-decoration: none;
	color: #8A8A8A;
	font-weight:bold;
	background-color: #F2f2f2;
	border: solid 1px #CCCCCC; 
}
.current
{
	display: block;
	padding:3px 5px;
	text-decoration: none;
	color: #FFF;
	font-weight:bold;
	background-color: #FE4A00;
	border: solid 1px #CCCCCC; 
	cursor:not-allowed;
}
.button
{
	padding: 5px 15px;
	text-decoration: none;
	background: #333;
	color: #F3F3F3;
	font-size: 13px;
	border-radius: 2px;
	margin: 3px 4px;
}
.disable{
	padding: 5px 15px;
	text-decoration: none;
	color: #666;
	font-size: 13px;
	border-radius: 2px;
	margin: 3px 4px;
	background-color: #ccc;
	cursor:not-allowed;
}

.image-del-div {
	position:relative; 
	width:220px;
}

.image-del-div .del-icon {
	position:absolute; 
	z-index:2; 
	right:20px; 
	top:10px;
	background-color:#000;
	padding:5px;
	border-radius:10px;
}

#footer{
	background-color:#FFF;
	width:100%;
	margin:0; 
	text-align:left;
	position: absolute;
	bottom: 0;
	margin-bottom:-50px;
}
#footer .content{
	width:1050px;
	margin:0px auto;
	color:#666666;
	padding:10px 0px 10px 0px;
}
#footer .content a{
	text-decoration:none;
	color:#666666;
}
#footer .content a:hover{
	text-decoration:none;
	color:#000000
}

p.error { margin: 0 0 16px 8px; width:95%; padding: 12px; background-color: #FFEBE8; border: 1px solid #C00; color: #DF2839;}
p.success { margin: 0 0 16px 8px; width:95%; padding: 12px; background-color: #E1F1C0; border: 1px solid #C9E197; color: #000;}

.select_action {
	padding:5px 10px;
}

table tr td input[type='text'] {
	width:98%;
	height:30px;
	padding:2px;
}

table tr td input[type='password'] {
	width:98%;
	height:30px;
	padding:2px;
}

table tr td select {
	width:100%;
	height:28px;
	padding:2px;
}

table tr td textarea {
	width:98%;
	height:60px;
	padding:2px;
}

.color_red {
	color:red;
}

ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding:5px  25px; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #FFF; font-weight: bold; padding:5px  25px; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color:#FFF; min-height:400px; }
div.tabContent.hide { display: none; }

input[type=checkbox] + label { color: black; }
input[type=checkbox]:checked + label { color: red; }
.search { width:50%; margin-left:80px;}
.search input[type='text'] {
	width:85%;
	height:30px;
	padding:2px;
	float:left;
}

/* INVOICE */
.store {
	width: 100%;
	margin-bottom: 20px;
}
.div2 {
	float: left;
	display: inline-block;
}
.div3 {
	float: right;
	display: inline-block;
	padding: 5px;
}
.heading td {
	background: #E7EFEF;
}
.address, .product {
	border-collapse: collapse;
}
.address {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #CDDDDD;
	border-right: 1px solid #CDDDDD;
}
.address th, .address td {
	border-left: 1px solid #CDDDDD;
	border-bottom: 1px solid #CDDDDD;
	padding: 5px;
	vertical-align: text-bottom;
}
.address td {
	width: 50%;
}
.product {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #CDDDDD;
	border-right: 1px solid #CDDDDD;
}
.product td {
	border-left: 1px solid #CDDDDD;
	border-bottom: 1px solid #CDDDDD;
	padding: 5px;
	text-transform:none !important;
}

.store td {
	text-transform:none !important;
}


#accordion li{ position:relative;}
#accordion li:hover{ background-color:#ED3237; color:#fff;}
#accordion .dropdown{ display:none; position:absolute; top:48px; z-index:9; background-color:#fff; left:0px; box-shadow:0px 3px 3px #333; width: 200px; }
#accordion .dropdown li{ display:block; padding:2px 7px; width:92%; color:#666;}
#accordion .dropdown li:hover{ background-color:#ED3237; color:#fff;}
#accordion li:hover > .dropdown{ display:block;}

#accordion .dropdown2{ display:none; z-index:9; background-color:#fff;  position: absolute; left: 153px; top: 0px; box-shadow:0px 3px 3px #333; }
#accordion .dropdown2 li{ display:block; background-color:#fff; padding:2px 7px; width:180px;}
#accordion .dropdown2 li:hover{ background-color:#ED3237 ; color:#fff; }
#accordion .dropdown li:hover > .dropdown2{ display:block;}

.required_input { border:solid 1px #EA4335;}   


/*------------------15.10.15-------------------*/
.information_header
{
 width:100%;
 float:left;
 margin-top:20px;
   margin-bottom: 30px;
}

.information_header_left
{
  width:70%;
  float:left;
}
.information_header_left_content
{float:left:}

.information_header_left_content h1
{color:#4c4c4c;}
.information_header_right
{
  width:28%;
  float:right;
}
   
.information_header_img {
    background: #ccc none repeat scroll 0 0;
    border-color: #ccc;
    border-radius: 3px;
    float: left;
    max-height: 100px;
    min-height: 90px;
    overflow: hidden;
    text-align: center;
    width: 90px;
	margin-right:10px;
}

.information_checkbox
{
 list-style:none;
 margin-top:15px;
}

.information_checkbox li label
{font-size:15px;}

.information_right_tab {
    border: 1px solid #ccc;
    color: #666666;
    float: left;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
	line-height: 34px;
	min-width:145px;
}
.information_right_tab a
{color: #666666;}
.information_right_tab img {
    float: left;
    margin-right: 5px;
}




.info_content ul#tabs li a
{
 background:#fff!important;
-moz-border-top-left-radius: 5px;
-moz-border-top-right-radius: 5px;
-moz-border-bottom-right-radius: 0px;
-moz-border-bottom-left-radius: 0px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;

}

.Description
{
float:left; margin-top:50px; width:100%;}

.info_content div.tabContent
{width: 95%;display: table;
    min-height: auto;}

.Description span {
    border-right: 1px solid #ccc !important;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 30px;
    width: 15%;
}
.cat_products
{
 width:100%;
 float:left;
  margin-bottom: 20px;
}
.info_content div.tabContent
{margin-top: 3px; padding: 25px;}



.infomation_content_left
{width:50%;
float:left;}

.infomation_content_right
{width:50%;
float:right;}

.information_content_ul
{list-style:none;}

.information_content_ul li
{padding:0 10px;}

.information_content_ul li span {
    border-right: 1px solid #ccc !important;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 35px;
    width: 30%;
}

.product_cat {
    border: medium none;
    height: 30px;
    margin: 5px 0 0 18px !important;
    padding: 2px;
    width: 60%;
	padding-left:5px;
	border: 1px solid #ccc;
}

.start_time {
    border: medium none;
    height: 30px;
    margin: 5px 0 0 18px !important;
	border:1px solid #ccc;
    padding: 2px;
	float:left;
    width: 28%;
	padding-left:5px;
	margin-right:2%;
}

.end_time {
    border: medium none;
	border:1px solid #ccc;
    height: 30px;
    margin: 5px 0 0 18px !important;
    padding: 2px;
	float:left;
	padding-left:5px;
    width: 28%;
}

.border{border:1px solid #ccc;}

.thumb img
{
float: left;
width: 100px;
padding: 10px;
}
.list {
  position: relative;
  margin-top: 20px;
  width: 100%;
  float: left;
  list-style:none;
}
.list .line-connect {
  border-bottom: 1px dashed #ccc;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  left: 0px;
}
 .list .total-round {
  position: relative;
  display: table;
}
.list .total-round .round {
  display: table-cell;
  margin: 0px 6px;
  float: left;
}
.list .checked {
  background-color: #66b032 !important;
}
.list .round {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ccc;
  display: block;
}
.list .round:hover {
  cursor: pointer;
}

.list .total-round .possition-status {
  display: none;
  position: absolute;
  top: 30px;
  left: -50px;
  width: 400px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  padding: 3px 10px;
}
.list .total-round .possition-status .title {
  color: #66b032;
  font-size: 14px;
  float: left;
  width: 100%:;
}
.list .total-round .possition-status .timing {
  padding: 3px 0px;
  display: block;
  width: 100%;
  float: left;
}
.list .total-round .possition-status .timing .schdule:first-child {
  padding-left: 0px;
  border: none;
}
.list .total-round .possition-status .timing .schdule {
  float: left;
  display: inline;
  font-size: 12px;
  color: #888;
  padding: 0px 10px;
  border-left: 1px solid #ccc;
}
.list .deliver-by {
 /* padding: 3px 10px;*/
  width: 100%;
  float: left;
  font-size: 13px;
  text-align: center;
  color: #888;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.list .total-round .current-status:after {
  padding: 14px;
  float: left;
  border-radius: 40px;
  border: 1px solid #66b032;
  content: "";
  margin: -7px -7px;
}
.list .deliver-type {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #333;
}
.list .total-round .possition-status {
  display: none;
}
.list .total-round .possition-status {
  width: 400px;
  /*position: absolute;
  top: 30px;
  left: -50px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  padding: 3px 10px;*/
}
.list .total-round:hover .possition-status
 {
 display: block;
}
.list .cut {
  text-decoration: line-through;
}